---
import "src/styles/global.css"

import BaseHead from '@/components/BaseHead.astro';
import NavigationProvider from '@/components/elements/NavigationProvider.astro';
import Banner from '@/components/layout/Banner.astro';
import Navbar from "@/components/layout/Navbar.astro";
import Footer from "@/components/layout/Footer.astro";
import { GoogleTagmanagerPartytown, SiteVerification } from '@digi4care/astro-google-tagmanager';
// import { ContactSalesModal } from '@/components/sections/ContactSalesModal.tsx';

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en" class="bg-noise">
  <head>
    <BaseHead title={title} description={description} />
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <SiteVerification id="349814302" />
    <GoogleTagmanagerPartytown id="GT-NB96M5G7" />
  </head>
  <body
    class={`h-screen antialiased flex flex-col [--header-height:calc(var(--spacing)*12)] lg:[--header-height:calc(var(--spacing)*18)]`}
  >
      <svg width="0" height="0" style="position: absolute;">
        <filter id="noise-texture">
            <feTurbulence 
                type="fractalNoise" 
                baseFrequency="0.48" 
                numOctaves="3" 
                seed="0"
                stitchTiles="stitch"/>
            <feColorMatrix type="saturate" values="0"/>
            <feComponentTransfer>
                <feFuncA type="discrete" tableValues="0 0.2"/>
            </feComponentTransfer>
            <feBlend mode="multiply" in="SourceGraphic"/>
        </filter>
    </svg>
    <NavigationProvider currentPath={currentPath}>
      <Navbar currentPage={currentPath}  />
      <main class="flex-1" style="view-transition-name: main;">
        <slot />
      </main>
      <Footer currentPage={currentPath} />
    </NavigationProvider>
    
    <!-- <ContactSalesModal client:idle={{timeout: 3000}} /> -->
  </body>
</html>
