---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;

const postDate = new Date(frontmatter.date);
const pubDate = postDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} author={frontmatter.author} noIndex={frontmatter.noindex}>
	<div class="container max-w-5xl section-padding text-sm md:text-base mb-10 md:mb-20 redacted">
		<div class="text-muted-foreground font-medium text-center text-sm">
			<a href="/changelog" class="transition-all hover:text-foreground">Changelog</a>
			<span class="mx-1 font-light">/</span>
			{pubDate}
			<span class="ml-2 bg-primary/25 border border-accent/15 py-0.5 px-1 rounded-sm text-accent">V.{frontmatter.version}</span>
		</div>
		<h1 class="text-display-section font-bold text-center max-w-xl mx-auto my-5">
			{frontmatter.title}
		</h1>
		<slot />
	</div>
</BaseLayout>